


.common_section {
    background: 
    url("../assets/images/common.jpg") no-repeat center ;
     background-size: cover;
     height: 280px;
     display: flex;
     align-items: center;
     justify-content: center;
     
     
     
    
} 




.common_section h1{
    color: #fff;
    background-color: rgb(30, 46, 46);
    font-weight: 600;
    
}