


.common_section {
    background: 
    url("../assets/images/common.jpg") no-repeat center ;
     background-size: cover;
     height: 280px;
     display: flex;
     align-items: center;
     justify-content: center;
     
     
     
    
} 




.common_section h1{
    color: #fff;
    font-weight: 600;
    
}


@media only screen and (max-width: 768px) {
    .common_section{
        padding: 70px 0px;
    }
    .common_section h1{
        font-size: 1.4rem;
    }        
}