




.auth__form{
    background: var(--primary-color);
    padding: 40px;
    border-radius:5px ;
    

}

.buy__btn{
    font-weight: 600;
}

.auth__form p{
    margin-top: 30px;
}

.auth__form p a{
    color: #c7b5b5;
}

.auth__form input[type='file']{
    color: #fff;
    cursor: pointer;
}