.product__detailes{
    margin-top: 70px;
    margin-left: 150px;
  
}

.product__detailes h2{
    font-size: 1.8rem;
    margin-top: 10px;
}

.product__rating span i {
    color: coral;
}

.product__rating p span{
    color: coral;
    font-weight: 500;
}
.product__price{
    font-size: 1.3rem;
    font-weight: 500;

}
.tab__wrapper{
   color: var(--primary-color);
   font-weight: 500;
   font-size: 1rem;
   cursor: pointer;
}
.active__tab{
  font-weight: 600;
}

.tab__content p{
    line-height: 30px;

}
.review__wrapper ul li span{
      color: coral;
      font-weight: 600;
      
}

/* err */
.review__wrapper ul li p{ 
   margin-top: 10px;
}


.review__from{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.review__from h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
    font-weight: bold;
}

.from__group input,
.from__group textarea{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}

.from__group input:focus,
.from__group textarea{
    outline: none;
}
.from__group{
    margin-bottom: 30px;
}

.from__group span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: coral;
    font-weight: 600;
    cursor: pointer;

}

.related__title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;

}


@media only screen and (max-width:768px) {
     .product__detailes h2{
        font-size: 1.3rem;
     }
     .rating__group {
        column-gap: 1rem !important;
     }
}