.product_item{
    cursor: pointer;
}

.product__info h3 a {
      font-size: 1.6rem;
      color: var(--primary-color);
      font-weight: 600;
      margin-top: 15px;

}
.product__info a:hover{
    color: inherit;
}
.product__info span{
    font-size: 0.9rem;

}
.product_img{
    width: 60%;
    height: 60%;
    left: 10px;
    margin-left: 40px;

}

.product__card-button .price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;

}

.product__card-button span i{
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    margin-right: 60px;
}